# cp me to .env to root of workspace and DEFINE variables if starting new environment for first time!
# NOTE: This file is merely an example. It's unneeded to a running system.
# NOTE: Create certs to match name of domain name

# For free domain, since certbot needs registered domain,
# from domains are available with subdomains by using
# for "local development" in a cloud VM with digital ocean
# with https://freedns.afraid.org/
# otherwise, yes you will have to use mkcert, and continue with original attempt,
# modify /etc/hosts that docker desktop handles for windows, but locally for self-signed certs

DOMAIN_NAME=

CONTAINER_NAME=

DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_ROOT_PASSWORD=

WORDPRESS_ADMIN_EMAIL=
